.sec {
    padding: 100px 0;
}

.con {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    /* text-align: center; */
    margin: 0 0 40px 0;
}

.title h2 {
    display: block;
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-break: keep-all;
}

@media (max-width:375px) {
    p br {
        display: none;
    }
}

:root {
    --pc: #054498;
    --sc: #286db7;
    --wc: #ffffff;
    --dc: #202123;
    --bc: #f9f9f9;
    --gc: #dddddd;
}