.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    background: transparent;
    border-bottom: none;
    color: var(--wc);
}

.header.on {
    background: var(--wc);
    color: var(--dc);
    border-bottom: 1px solid var(--gc);
    box-sizing: border-box;
}

.header_wrap {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;

    justify-content: space-between;
    align-items: center;

    max-width: 1860px;
    width: 100%;
    line-height: 100px;
}

.header_wrap .gnb>ul {
    display: flex;
    gap: 50px;
}

.header_wrap .gnb>ul>li a {
    font-size: 18px;
    font-weight: 500;
}

.header_wrap .util>ul {
    display: flex;
    gap: 20px;
}

.header_wrap .util>ul>li>a>i {
    font-size: 24px;
}

.header .m_btn {
    display: none;
}

@media (max-width:1200px) {
    .header_wrap .gnb>ul {
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        width: calc(100% - 90px);
        background: var(--wc);
        height: 100vh;
        padding: 120px 24px;
        border-right: 1px solid var(--gc);
        transition: left 0.5s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li {
        padding: 15px 0;
        border-bottom: 1px solid var(--gc);
        line-height: 1;
    }

    .header .gnb>ul>li>a {
        color: var(--dc);
    }

    .header_wrap .util>ul {
        display: none;
    }

    .header .m_btn {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 999;
        display: block;
        border: none;
        background: transparent;
        outline: none;
    }

    .header .xi-bars {
        padding: 3px;
        border: none;
        background: var(--pc);
        color: var(--wc);
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .header {
        position: sticky;
        height: 80px;
    }

    .header_wrap {
        line-height: 80px;
    }

    .header .m_btn {
        top: 22px;
    }
}

/* r */
.main_visual {
    position: relative;
}

.visual_wrap {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}

.visual_wrap .itm {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}

.visual_wrap .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100vw / 10 * 4);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

}

.visual_wrap .itm01 {
    background-image: url(../images/main_visual01.jpg);
}

.visual_wrap .itm02 {
    background-image: url(../images/main_visual02.jpg);
}

.visual_wrap .itm03 {
    background-image: url(../images/main_visual03.jpg);
}

.visual_wrap .itm.on {
    background-size: 100%;
    transition: 1s 0.3s;
}


.visual_wrap .itm .txt_box {
    position: absolute;
    top: 30%;
    left: 232px;
    padding: 0 15px;
}

.visual_wrap .itm .txt_box p {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--wc);
    white-space: nowrap;
}

.visual_wrap .itm .txt_box strong {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: var(--wc);
    white-space: nowrap;
}

.visual_wrap .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 999;

    border: none;
    background: transparent;
    font-size: 0;

    width: 60px;
    height: 60px;
    color: var(--wc);
    border: 1px solid var(--gc);
    border-radius: 50%;
    cursor: pointer;
}

.visual_wrap .slick-prev {
    left: 247px;
}

.visual_wrap .slick-prev::after {
    content: '\e93d';
}

.visual_wrap .slick-next {
    left: 327px;
}

.visual_wrap .slick-next::after {
    content: '\e940';
}

.visual_wrap .slick-prev::after,
.visual_wrap .slick-next::after {
    font-family: xeicon;
    font-size: 20px;
    font-weight: 700;
}

.main_visual .scroll {
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: var(--dc);
}

.main_visual .scroll span {
    text-align: center;
}

.main_visual .scroll p {
    position: relative;
    font-size: 0;
    margin: 10px auto 0 auto;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    transform: rotate(45deg);
}

.main_visual .scroll p::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    animation: scroll 2s infinite;
}

.main_visual .scroll p::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    animation: scroll_the 2s infinite;
}

@keyframes scroll {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes scroll_the {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@media (max-width:1200px) {
    .visual_wrap {
        clip-path: none;
    }

    .visual_wrap .itm {
        height: 70vh;
        clip-path: none;
    }

    .visual_wrap .itm.on {
        background-size: 120%;
    }

    .visual_wrap .itm .txt_box {
        top: 40%;
        left: 60px;
    }

    .visual_wrap .slick-arrow {
        top: 60%;
    }

    .visual_wrap .slick-prev {
        left: 80px;
    }

    .visual_wrap .slick-next {
        left: 160px;
    }

    .scroll {
        display: none;
    }
}

@media (max-width:768px) {
    .visual_wrap .itm {
        height: 400px;
        background-size: 120%;
    }

    .visual_wrap .itm::before {
        width: calc(100vw / 10 * 4.5);
    }

    .visual_wrap .itm.on {
        background-size: 100%;
    }

    .visual_wrap .itm .txt_box p {
        font-size: 16px;
    }

    .visual_wrap .itm .txt_box strong {
        font-size: 24px;
        line-height: 30px;
    }

    .visual_wrap .slick-arrow {
        top: 70%;
        width: 40px;
        height: 40px;
    }

    .visual_wrap .slick-next {
        left: 140px;
    }
}

@media (max-width:375px) {
    .visual_wrap .itm {
        height: 200px;
        background-size: 170%;
        object-fit: cover;
    }

    .visual_wrap .itm::before {
        display: none;
    }

    .visual_wrap .itm.on {
        background-size: 140%;
    }

    .visual_wrap .itm .txt_box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .visual_wrap .itm .txt_box p,
    .visual_wrap .itm .txt_box strong {
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 1);
    }

    .visual_wrap .slick-arrow {
        display: none !important;
    }


    /* .visual_wrap .itm .txt_box::after {
        content: "";
        position: absolute;
        inset: -15px;
        z-index: -1;

        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }

    .visual_wrap .slick-arrow {
        display: none !important;
    } */
}

.service_wrap .title {
    margin: 0 0 70px 0;
}

.service_wrap .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
    text-align: center;
}

.service_wrap .itm a {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100px;
    border-radius: 0;
    background: transparent;
    border: 3px solid var(--sc);
}

.service_wrap .itm a i {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 80px;
    font-size: 60px;
    line-height: 60px;
    color: var(--sc);
    background: var(--wc);
}

.service_wrap .itm p {
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

@media (max-width:375px) {
    .service_wrap .inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .service_wrap .itm a {
        height: 70px;
    }

    .service_wrap .itm a i {
        line-height: 40px;
    }

    .service_wrap .itm p {
        font-size: 16px;
        line-height: 80px;
    }
}

.main_news {
    position: relative;
}

.main_news::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100vw / 10 * 4);
    z-index: -1;
    background: var(--pc);
}

.news_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}


.news_wrap .title {
    flex: 1 0 0;
    color: var(--wc);
    margin: 0;
}

.news_wrap .inner {
    flex: 3;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background: var(--wc);
    border: 1px solid var(--dc);
}

.news_wrap .inner>* {
    flex: 1;
}

.news_wrap .inner .itm h3 {
    padding: 15px 0;

    font-size: 28px;
    font-weight: 500;
    text-align: left;

}

.news_wrap .inner .itm h3::before {
    content: "";
    display: block;
    margin: 0 0 8px 0;
    height: 2px;
    width: 30px;
    background: var(--dc);
}

.news_wrap .itm {
    position: relative;
}

.news_wrap .itm img {
    width: 300px;
    margin: 0 0 32px 0;
}

.news_wrap .itm ul {
    margin: 0 0 16px 0;
}

.news_wrap .itm ul li {
    line-height: 30px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_wrap .itm ul li::before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dc);
}


.news_wrap .itm .more_btn {
    position: absolute;
    top: 40px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--sc);
    text-align: center;
    line-height: 50px;
    color: var(--wc);
}

@media (max-width:1200px) {
    .news_wrap .inner {
        gap: 30px;
    }

    .news_wrap .itm .more_btn {
        right: -15px;
    }
}

@media (max-width:768px) {
    .news_wrap {
        flex-direction: column;
    }

    .main_news::before {
        width: 100%;
    }

    .news_wrap .inner {
        flex-direction: column;
    }

    .news_wrap .itm img {
        width: auto;
        height: 250px;
    }

    .news_wrap .itm ul li {
        width: auto;
    }

    .news_wrap .itm .more_btn {
        top: 20px;
        right: -20px;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
}

@media (max-width:375px) {
    .news_wrap .inner {
        padding: 30px 10px;
    }

    .news_wrap .itm img {
        margin: 0 0 16px 0;
        height: 150px;
    }

    .news_wrap .itm ul {
        margin: 0 0 0 0;
    }

    .news_wrap .itm ul li {
        width: 300px;
    }

    .news_wrap .itm .more_btn {
        top: 40px;
        right: -5px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

/* main_solution------------------------------------------------------------ */
.solution_wrap .inner {
    position: relative;
}

.solution_wrap .inner .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 100px 50px;

    text-align: center;
    color: var(--wc);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.solution_wrap .inner .txt_box::after {
    content: "";
    position: absolute;
    top: 6%;
    left: 6%;
    right: 6%;
    bottom: 6%;
    border: 1px solid var(--wc);
}

.solution_wrap .inner .txt_box::before {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    border: 1px solid var(--wc);
}

.solution_wrap .inner .txt_box p {
    margin: 0 0 12px 0;
}

.solution_wrap .inner .txt_box p strong {
    font-weight: 600;
    color: var(--sc);
}

.btn_box {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.solution_wrap .inner .txt_box a {
    display: inline-block;
    width: 180px;
    height: 50px;
    border: 1px solid var(--pc);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.solution_wrap .inner .video_box {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.solution_wrap .inner .video_box::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(3px);
}

.solution_wrap .inner .video_box video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:1200px) {}

@media (max-width:768px) {
    .solution_wrap .inner .txt_box p {
        white-space: nowrap;
    }
}

@media (max-width:375px) {
    .solution_wrap {
        padding: 0 0;
    }

    .solution_wrap .inner .txt_box {
        backdrop-filter: blur(2px);
    }

    .solution_wrap .inner .txt_box::after {
        display: none;
    }

    .solution_wrap .inner .txt_box .title {
        margin: 0 0 16px 0;
        padding: 20px 0;
    }

    .solution_wrap .inner .txt_box {
        padding: 20px 15px;
    }

    .solution_wrap .inner .txt_box p {
        white-space: wrap;
    }

    .solution_wrap .inner .video_box {
        height: 400px;
    }

    .btn_box {
        gap: 15px;
        padding: 0 15px;

    }

    .solution_wrap .inner .txt_box a {
        width: 120px;
        font-size: 14px;
    }

    .solution_wrap .inner .video_box::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        backdrop-filter: blur(0);
    }
}


/* .main_banner ----------------------------- */

.banner_wrap {
    display: flex;
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
}

.banner_wrap>* {
    flex: 1;
}

.banner_wrap .itm {
    position: relative;
    height: 400px;

}

.banner_wrap .itm01 {
    background: url(../images/main_banner02.jpg)no-repeat center center/cover;
}

.banner_wrap .itm02 {
    background: url(../images/main_banner01.jpg)no-repeat center center/cover;
}

.banner_wrap .itm .txt {
    position: absolute;
    top: 50%;
    right: 150px;

}

.banner_wrap .itm02 .txt {
    left: 150px;
}

.banner_wrap .itm .txt h3 {
    margin: 0 0 32px 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--wc);
}

.banner_wrap .itm .txt a {
    display: block;
    text-align: center;
    line-height: 48px;
    width: 80px;
    height: 50px;
    border-top: 1px solid var(--wc);
    border-bottom: 1px solid var(--wc);
    color: var(--wc);
}

@media (max-width:1200px) {

    .banner_wrap {
        clip-path: none;
    }

    .banner_wrap .itm {
        height: 200px;
    }

    .banner_wrap .itm .txt {
        right: 110px;
        transform: translate(0, -50%);
    }

    .banner_wrap .itm02 .txt {
        left: 110px;
    }

    .banner_wrap .itm .txt h3 {
        margin: 0 0 20px 0;
    }
}

@media (max-width:768px) {
    .banner_wrap .itm01 {
        background-position: 100% 0;
    }
}

@media (max-width:375px) {
    .banner_wrap .itm01 {
        background-position: 85% 0;
    }

    .banner_wrap .itm .txt {
        right: 50px;
        transform: translate(0, -50%);
    }

    .banner_wrap .itm02 .txt {
        left: 50px;
    }
}

.footer {
    padding: 50px 0 30px 0;
    background: #000;
    color: var(--gc);
    text-align: center;
}

.footer_wrap .infor,
.footer_wrap .adress {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 0 24px 0;
    white-space: nowrap;
}

.footer_wrap>ul>li {
    position: relative;
}

.footer_wrap>ul>li strong {
    font-weight: 900;
    color: var(--pc);
}

.footer_wrap>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 7px;
    background: #222;
}

.footer_wrap .copy {
    font-size: 14px;
}

@media (max-width:1200px) {}

@media (max-width:768px) {
    .footer_wrap .infor li a {
        display: block;
        width: auto;
        height: auto;
        border: 1px solid var(--gc);
        padding: 15px 20px;
    }

    .footer_wrap .infor {
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer_wrap .infor>* {
        flex: 1 1 25%;
    }

    .footer_wrap>ul>li~li::after {
        display: none;
    }
}

@media (max-width:375px) {
    .footer_wrap .infor>* {
        flex: 1 1 100%;
    }

    .footer_wrap .adress {
        flex-direction: column;
        gap: 12px;
    }

    .footer_wrap .adress li {
        white-space: wrap;
        line-height: 18px;
    }
}