:root {
    --pc: #054498;
    --sc: #286db7;
    --wc: #ffffff;
    --dc: #202123;
    --bc: #f9f9f9;
    --gc: #dddddd;
}

* {
    outline: 1px solid tomato--;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    background: transparent;
    border-bottom: none;
    color: #fff;
}

.header.on {
    background: var(--wc);
    color: var(--dc);
    border-bottom: 1px solid var(--gc);
}

.header_wrap {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;

    justify-content: space-between;
    align-items: center;

    max-width: 1860px;
    width: 100%;
    line-height: 100px;
}

#header h1 {
    flex: 1 0 320px;
}

.header_wrap .gnb>ul {
    display: flex;
    gap: 50px;
}

.header_wrap .gnb>ul>li a {
    font-size: 18px;
    font-weight: 500;
}

.header_wrap .util>ul {
    display: flex;
    gap: 20px;
}

.header_wrap .util>ul>li>a>i {
    font-size: 24px;
}

.header .m_btn {
    display: none;
}

@media (max-width: 768px) {



    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        width: calc(100% - 90px);
        background: var(--wc);
        height: 100vh;
        padding: 120px 24px;
        border-right: 1px solid var(--gc);
        transition: left 0.5s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li {
        padding: 15px 0;
        border-bottom: 1px solid var(--gc);
        line-height: 1;
    }

    .header .gnb>ul>li>a {

        color: var(--dc);
    }

    .header_wrap .util>ul {
        display: none;
    }

    .header .m_btn {
        display: block;

    }

    .header .xi-bars {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 999;

        padding: 3px;
        border: none;
        background: var(--pc);
        color: var(--wc);
        font-size: 30px;
    }


}

/* r */
.main_visual {}

.visual_wrap {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}

.visual_wrap .itm {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}

.visual_wrap .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100vw / 10 * 4);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

}

.visual_wrap .itm01 {
    background-image: url(../images/main_visual01.jpg);
}

.visual_wrap .itm02 {
    background-image: url(../images/main_visual02.jpg);
}

.visual_wrap .itm03 {
    background-image: url(../images/main_visual03.jpg);
}

.visual_wrap .itm.on {
    background-size: 100%;
    transition: 1s 0.3s;
}


.visual_wrap .itm .txt_box {
    position: absolute;
    top: 30%;
    left: 232px;
    padding: 0 15px;
}

.visual_wrap .itm .txt_box p {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--wc);
}

.visual_wrap .itm .txt_box strong {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: var(--wc);
}

.visual_wrap .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 999;

    border: none;
    background: transparent;
    font-size: 0;

    width: 60px;
    height: 60px;
    color: var(--wc);
    border: 1px solid var(--gc);
    border-radius: 50%;
    cursor: pointer;
}

.visual_wrap .slick-prev {
    left: 247px;
}

.visual_wrap .slick-prev::after {
    content: '\e93d';
}

.visual_wrap .slick-next {
    left: 327px;
}

.visual_wrap .slick-next::after {
    content: '\e940';
}

.visual_wrap .slick-prev::after,
.visual_wrap .slick-next::after {
    font-family: xeicon;
    font-size: 20px;
    font-weight: 700;
}

.scroll {
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: var(--dc);
}

.scroll span {
    text-align: center;
}

.scroll p {
    position: relative;
    font-size: 0;
    margin: 10px auto 0 auto;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    transform: rotate(45deg);
}

.scroll p::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    animation: scroll 2s infinite;
}

.scroll p::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid var(--dc);
    border-right: 1px solid var(--dc);
    animation: scroll_the 2s infinite;
}

@keyframes scroll {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes scroll_the {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@media (max-width:768px) {
    .visual_wrap .itm01 {
        background: url(../images/main_visual01.jpg) no-repeat 50% 80%/cover;
    }

    .visual_wrap .itm02 {
        background: url(../images/main_visual02.jpg) no-repeat 50% center;
    }

    .visual_wrap .itm .txt_box p {
        font-size: 4vw;
        line-height: 5vw;

    }

    .visual_wrap .itm .txt_box strong {
        font-size: 7vw;
        line-height: 8vw;
    }

    .visual_wrap .slick-prev::after,
    .visual_wrap .slick-next::after {
        font-size: 0;
    }
}

.service_wrap .title {
    margin: 0 0 70px 0;
}

.service_wrap .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
    text-align: center;
}

.service_wrap .itm a {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100px;
    border-radius: 0;
    background: transparent;
    border: 3px solid var(--sc);
}

.service_wrap .itm a i {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 80px;
    font-size: 60px;
    line-height: 60px;
    color: var(--sc);
    background: var(--wc);
}

.service_wrap .itm p {
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

@media (max-width:768px) {
    .service_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .service_wrap::after {
        display: none;
    }
}

.main_news {
    position: relative;
}

.main_news::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100vw / 10 * 4);
    z-index: -1;
    background: var(--pc);
}

.news_wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}


.news_wrap .title {
    flex: 1 0 0;
    color: var(--wc);
    margin: 0;
}

.news_wrap .inner {
    flex: 3;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background: var(--wc);
    border: 1px solid var(--dc);
}

.news_wrap .inner .itm h3 {
    padding: 15px 0;

    font-size: 28px;
    font-weight: 500;
    text-align: left;

}

.news_wrap .inner .itm h3::before {
    content: "";
    display: block;
    margin: 0 0 8px 0;
    height: 2px;
    width: 30px;
    background: var(--dc);
}

.news_wrap .itm {
    position: relative;
}

.news_wrap .itm img {
    width: 300px;
    margin: 0 0 32px 0;
}

.news_wrap .itm ul {
    margin: 0 0 16px 0;
}

.news_wrap .itm ul li {
    line-height: 30px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_wrap .itm ul li::before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dc);
}


.news_wrap .itm .more_btn {
    position: absolute;
    top: 40px;
    right: -15px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--sc);
    text-align: center;
    line-height: 50px;
    color: var(--wc);
}

@media (max-width:768px) {
    .news_wrap {
        flex-direction: column;
    }

    .news_wrap .itm ul li>a {
        width: 100%;
    }
}

.solution_wrap .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--gc);
}

.solution_wrap .left {
    padding: 100px 50px;
}

.solution_wrap .left p {
    margin: 0 0 32px 0;
    font-size: 18px;
    line-height: 24px;
    word-break: keep-all;
}

.solution_wrap .left p strong {
    font-weight: 600;
    color: var(--sc);
}

.solution_wrap .left a {
    display: inline-block;
    margin: 0 15px;
    width: 180px;
    height: 50px;
    border: 1px solid var(--pc);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.solution_wrap .left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    text-align: center;
    color: var(--wc);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.solution_wrap .left::after {
    content: "";
    position: absolute;
    top: 6%;
    left: 6%;
    right: 6%;
    bottom: 6%;
    border: 1px solid var(--wc);
}

.solution_wrap .left::before {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    border: 1px solid var(--wc);
}

/* --------------------------video----------------------------- */
.solution_wrap .inner .right {
    position: relative;
    /* width: calc(1440px / 10 * 7); */
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%); */
}

.solution_wrap .inner .right::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.solution_wrap .inner .right video {
    /* filter: blur(5px); */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:1200px) {
    .solution_wrap .left {
        padding: 100px 0;
        margin: 0 auto;
        text-align: center;
    }

    .solution_wrap .right {
        display: none;
    }
}

@media (max-width:768px) {

    .solution_wrap .left {
        padding: 100px 0;
        margin: 0 auto;
        text-align: center;
    }

    .solution_wrap .right {
        display: none;
    }
}

.main_banner {}

.banner_wrap {
    display: flex;
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);

}

.banner_wrap>* {
    flex: 1;
}

.banner_wrap .ibox {
    position: relative;
    height: 400px;
    color: #fff;
}

.banner_wrap .left {
    background: url(../images/main_banner02.jpg)no-repeat center center/cover;
}

.banner_wrap .right {
    background: url(../images/main_banner01.jpg)no-repeat center center/cover;
}

.banner_wrap .ibox .txt {
    position: absolute;
    top: 50%;
    right: 100px;

}

.banner_wrap .ibox:last-child .txt {
    left: 100px;
}

.banner_wrap .ibox .txt h3 {
    margin: 0 0 32px 0;
    font-size: 24px;
    font-weight: 600;
    /* text-shadow: 5px 0 10px #000; */
}

.banner_wrap .ibox .txt a {
    display: block;
    text-align: center;
    line-height: 48px;
    width: 80px;
    height: 50px;
    border-top: 1px solid var(--wc);
    border-bottom: 1px solid var(--wc);
}

.footer {
    padding: 50px 0 30px 0;
    background: #000;
    color: #666;
    text-align: center;
}

.footer_wrap>ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 0 8px 0;
    white-space: nowrap;
}

.footer_wrap>ul>li {
    position: relative;
}

.footer_wrap>ul>li strong {
    font-weight: 900;
    color: var(--pc);
}

.footer_wrap>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 7px;
    background: #222;
}

.footer_wrap .map {
    display: inline-block;
    margin: 0 0 8px 0;
}

.footer_wrap .tel {
    display: inline-block;
    margin: 0 0 0 30px;

}

.footer_wrap .copy {
    font-size: 12px;
}

@media (max-width:768px) {
    .footer_wrap>ul {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        white-space: nowrap;
        margin: 0 0 16px 0;
    }

    .footer_wrap>ul>li>a {
        display: block;
        width: auto;
        height: auto;
        border: 1px solid var(--gc);
        padding: 15px 20px;
    }

    .footer_wrap>ul>li~li::after {
        display: none;
    }

    .footer_wrap .tel {
        display: block;
        margin: 0 0 12px 0;
    }


}